.faq-box {
  width: 100%;
  overflow: hidden;
  overflow: scroll;
  max-height: 10rem;
}
.faq_title {
  font-size: larger;
  color: #1d1d1d;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
}
.faq_header_box {
  padding: 0.813rem;
  color: #4c4c4d;
  overflow: scroll;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #dcdbde;
}
.accordion-content {
  color: #585859 !important;
  padding: 0.5rem 0.8rem;
  font-size: small;
  padding: 29px 0 1.25rem 0 ;
  line-height: 1.25rem;
}
.text_img_box {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.title {
  font-weight: 700;
  line-height: 14px;
  color: #1d1d1d;
  font-size: 0.75rem;
}
/* .space{
  padding: 2rem 0;
} */
img {
  width: 2.1rem;
}
.details {
  padding-top: 0.5rem;
  line-height: 0.75rem;
  display: flex;
  gap: 0.255rem;
  color: #727173;
  font-size: 0.7rem;
}
.toggle-img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  display: flex;
}
.align-accordion{
  width: 80%;
  margin: 0 auto;
  color: #1d1d1d;
}
.accordion_toggle img{
  width: 0.6rem;
}
.arrow_down{
  rotate: 90deg;
  transition: all 0.25s linear;
}
