.widget_message {
  color: #585859;
}
.widget_header {
  background-color: #1a1a1b;
  padding: 2.42rem 0 0;
  ;
}
.widget_header_images {
  display: flex;
  margin: 0 auto;
  width: 50%;
  gap: 0.8rem;
  justify-content: center;
  padding-bottom: 1.4rem;
}
.vector {
  padding-left: 2.32rem;
}
.widget_message_body {
  padding: 1.5rem 0 0 0;
  text-align: center;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 24.75rem;
  
}
.chat-box {
  /* height: 25.8rem; */
}
h2 {
  font-weight: 600;
  color: #1a1a1a;
}
.text p {
  font-size: 0.75rem;
  line-height: 1rem;
  max-width: 60%;
}
.message_box {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  bottom: 0px;
  width: calc(96% - 12px);
  padding: 12px;
  /* margin: 0rem 1.25rem 2rem 0.5rem; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  align-items: center;
  /* border-top: 1px solid #E6E5E8; */
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  background-color: white;

}
.message_box small {
  /* padding-top: 0.9rem; */
  text-align: left;
  font-size: 0.8rem;
  display: flex;
  width: 100%;
}
.message_input {
  /* padding:0.5rem 0; */
  outline: none;
  border: none;
  border-radius: 0;
}
.message_icons_left {
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
  width: 90%;
  font-size: small;
  /* min-height: 3rem; */

}
.icons {
  display: flex;
  gap: 0.4375rem;
  align-items: center;
}
a {
  color: inherit;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2000F0;
  color: white;
  /* margin-bottom: 1rem; */
}
.chat-box {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: left;
  gap: 0.5rem;
  padding: 0 1rem;

  /* align-items: end; */
}
.message {
  padding: 1.225rem;
  background: rgb(234 241 255);
}
.message-box {
  max-width: 75%;
  display: flex;
  align-items: end;
  gap: 0.5rem;
}
.magb{
  margin-bottom: 8rem !important;
}
.message-box img {
  width: 2rem;
    object-fit: cover;
  position: relative;
  z-index: 20;
}
.message-sent {
}
.message-received {
  align-self: end;
  width: max-content;
  margin: 0.5rem 0;
}
.sent {
  border-radius: 0px 12px 12px 12px;
}
.received {
  background: rgb(0, 87, 255);
  color: white;
  border-radius: 12px 0px 12px 12px;
}


.chat_bubble {
  /* background-color:#E6F8F1; */
  background-color: rgb(234 241 255);
  padding:16px 28px;
  -webkit-border-radius: 20px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius: 20px;
  -moz-border-radius-bottomleft: 2px;
  border-radius: 20px;
  border-bottom-left-radius: 2px;
  display:inline-block;
  margin-bottom: 8rem;
  max-width: max-content;
}
.typing {
  align-items: center;
  display: flex;
  height: 17px;
}
.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  /* background-color: #6CAD96; */
  background-color: rgb(41, 108, 241);
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    /* background-color:#6CAD96; */
    background-color: rgb(41, 108, 241);
  }
  28% {
    transform: translateY(-7px);
    /* background-color:#9ECAB9; */
    background-color: rgb(85, 131, 221);
  }
  44% {
    transform: translateY(0px);
    /* background-color: #B5D9CB; */
    background-color: rgb(142, 175, 243);
  }
}