.popup {
    position: absolute;
    top: 30%;
    /* translate: 0 -50%; */
    width: 25rem;
    height: 28.78rem;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(0.75rem);
    font-family: poppins;
    /* color: $color; */
    overflow: hidden;
    position: fixed;
    border-radius: 12px;
}
.info_form{
    max-width: 60%;
    background: white;
    display: flex;
    height: 60%;
    margin-top: 2rem;
    flex-direction: column;
    gap: 0.25rem;
    color: #1b1b1b;
    padding: 1rem 1.5rem;
    border-radius: 4px;
}
.info_form div{
    margin-bottom:1rem ;
}
.info_form input{
    border: none;
    outline: none;
    border-bottom: 1px solid #ddd;
    box-shadow: none;

}
.error{
    color: red;
    font-size: 0.8rem;
}
form button{
    border-radius: 4px;
    background-color: #1b1b1b;
    color: white;
}