body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  min-width: 320px;
  min-height: max-content;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    /* background-color: #ffffff; */
  }
  a:hover {
    color: #747bff;
  }
  button {
    /* background-color: #f9f9f9; */
    cursor: pointer;
  }
}
.widget {
  
  /* max-height: 56.25rem; */
  background: white;
  max-width: 25rem;
  min-width: 25rem;
  height: 700px;
  border-radius: 15px;
  overflow-y: scroll;
  position: relative;
  /* bottom: 5%; */
  z-index: 1005;
  
}
.popup_button{
  width: 100%;
  height: 100%;
  background: blue;
 
  border-radius: 50%;
}
.widget_popup{
  width: 4rem;
  height: 4rem;
  display: fixed;
  bottom: 10%;
}
.widget::-webkit-scrollbar{
  display: none;
  
}

@media screen and (max-width: 420px) {
  .widget {
    position: relative;
    right: 0;
  }
}
